---
import MainLayout from "../layout/MainLayout.astro";
import DemoButton from "../components/DemoButton.astro";
import ArtistButton from "../components/ArtistButton.astro";
import CountDown from "../components/CountDown.astro";
const response = await fetch("https://offwlbqmmcpglquiaelv.supabase.co/rest/v1/kunstner_navn", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9mZndsYnFtbWNwZ2xxdWlhZWx2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA1MDQ2NTcsImV4cCI6MjAyNjA4MDY1N30.16mlR9loC7mnmsLf3LTf1IJKwPcBMZTsOtpE9mLcWxY",
  },
});
const data = await response.json();
---

<MainLayout title="Karrusel Festival">
  <div class="div_relative">
    <img src="/index/hero_img.png" alt="Herobillede" />
  </div>
  <div class="div_absolute">
    <h1>Karrusel Festival</h1>
  </div>
  <img class="arrow" src="/index/arrow.png" alt="Arrow" />
  <section class="grid_2-1">
    <p>"3 days of house,<br /> disco and techno"</p>
    <div class="buttons">
      <a href="/tickets">
        <DemoButton variant="primary" tekst="Tickets">LÆS MERE</DemoButton>
      </a>
      <a href="/">
        <DemoButton variant="primary" tekst="Map">LÆS MERE</DemoButton>
      </a>
    </div>
  </section>
  <section class="artist_scroll">
    <div class="artist_line1">
      {
        data.map((artist, i) => {
          if (i < 4) {
            return <ArtistButton variant={"primary"} size={"big"} data={artist} />;
          }
        })
      }
    </div>
    <div class="artist_line2">
      {
        data.map((artist, i) => {
          if (i < 5) {
            return <ArtistButton variant={"secondary"} size={"small"} data={artist} />;
          }
        })
      }
    </div>
    <div class="artist_line3">
      {
        data.map((artist, i) => {
          if (i > 11) {
            return <ArtistButton variant={"secondary"} size={"medium"} data={artist} />;
          }
        })
      }
    </div>
  </section>
  <section class="artist_scroll_mobile">
    <div class="artist_line1">
      {
        data.map((artist, i) => {
          if (i < 2) {
            return <ArtistButton variant={"primary"} size={"big"} data={artist} />;
          }
        })
      }
    </div>
    <div class="artist_line2">
      {
        data.map((artist, i) => {
          if (i < 2) {
            return <ArtistButton variant={"secondary"} size={"big"} data={artist} />;
          }
        })
      }
    </div>
    <div class="artist_line3">
      {
        data.map((artist, i) => {
          if (i > 12) {
            return <ArtistButton variant={"secondary"} size={"big"} data={artist} />;
          }
        })
      }
    </div>
  </section>
  <section class="buttons_2">
    <a href="/lineup">
      <DemoButton variant="primary" tekst="Lineup">LÆS MERE</DemoButton>
    </a>
    <a href="/">
      <DemoButton variant="primary" tekst="Program">LÆS MERE</DemoButton>
    </a>
  </section>
  <CountDown />

  <style>
    img {
      width: 100%;
    }

    .div_relative {
      position: relative;
    }

    .div_absolute {
      position: absolute;
      top: 85%;
      left: 22%;
      white-space: nowrap;
    }

    .arrow {
      display: block;
      width: 27px;
      height: 13.661px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1%;
    }

    p {
      font-size: 74px;
      color: var(--graa_100);
      line-height: normal;
      text-transform: uppercase;
    }
    .grid_2-1 {
      display: grid;
      grid-template-columns: 2fr 1fr;
      max-width: 80%;
      margin: 8% auto;
    }

    .buttons {
      margin: 61px 0;
      gap: 23%;
      display: grid;
      width: 267px;
    }

    .artist_scroll {
      max-width: 80%;
      margin: 0 auto;
      white-space: nowrap;
    }

    .artist_line1 {
      margin: 3% 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 8%;
    }

    .artist_line2 {
      margin: 3cqmin 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 8%;
    }

    .artist_line3 {
      margin: 3% 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 8%;
    }

    .artist_line4 {
      margin: 3% 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 8%;
    }

    .buttons_2 {
      display: flex;
      justify-content: center;
      gap: 5%;
      margin: 6% 0 10% 0;
    }

    .artist_scroll_mobile {
      display: none;
    }

    @media (max-width: 800px) {
      .div_absolute {
        position: absolute;
        top: 29%;
        line-height: 52px;
      }
      .arrow {
        display: none;
      }

      p {
        font-size: 36px;
        color: var(--graa_100);
        line-height: normal;
        text-transform: uppercase;
        width: 347px;
        white-space: nowrap;
      }

      .grid_2-1 {
        /* display: grid;
      grid-template-columns: 2fr 1fr; */
        display: block;
        max-width: 80%;
        margin: 12% auto;
      }

      .buttons {
        margin: 61px auto 100px auto;
      }

      .buttons_2 {
        display: grid;
        gap: 20%;
        margin-top: 60px;
      }

      .artist_scroll {
        display: none;
      }

      .artist_scroll_mobile {
        display: grid;
        white-space: nowrap;
      }

      .artist_line1 {
        margin: 3% 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 8%;
      }

      .artist_line2 {
        margin: 3cqmin 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 8%;
      }

      .artist_line3 {
        margin: 3% 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 8%;
      }

      .artist_line4 {
        margin: 3% 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 8%;
      }
    }
  </style>
</MainLayout>
