---
import MainLayout from "../layout/MainLayout.astro";
import DemoButton from "../components/DemoButton.astro";
import ArtistButton from "../components/ArtistButton.astro";

const response = await fetch("https://offwlbqmmcpglquiaelv.supabase.co/rest/v1/kunstner_navn", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9mZndsYnFtbWNwZ2xxdWlhZWx2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA1MDQ2NTcsImV4cCI6MjAyNjA4MDY1N30.16mlR9loC7mnmsLf3LTf1IJKwPcBMZTsOtpE9mLcWxY",
  },
});
const data = await response.json();
---

<MainLayout title="Lineup">
  <section class="del_1">
    <a href="/">
      <img src="public/icon_back.svg" alt="back" />
    </a>
    <a href="/"> <DemoButton variant="secondary" tekst="Program" /></a>
  </section>
  <h2>Lineup</h2>

  <section class="lineup">
    <h5>Thursday</h5>
    <article class="day">
      <div class="line">
        {
          data.map((artist, i) => {
            if (i < 4) {
              return <ArtistButton variant={"primary"} size={"big"} data={artist} />;
            }
          })
        }
      </div>
      <div class="line">
        {
          data.map((artist, i) => {
            if (i < 5) {
              return <ArtistButton variant={"secondary"} size={"small"} data={artist} />;
            }
          })
        }
      </div>
      <div class="line">
        {
          data.map((artist, i) => {
            if (i > 11) {
              return <ArtistButton variant={"secondary"} size={"medium"} data={artist} />;
            }
          })
        }
      </div>
    </article>

    <h5>Friday</h5>
    <article class="day">
      <div class="line">
        {
          data.map((artist, i) => {
            if (i < 4) {
              return <ArtistButton variant={"primary"} size={"big"} data={artist} />;
            }
          })
        }
      </div>
      <div class="line">
        {
          data.map((artist, i) => {
            if (i < 5) {
              return <ArtistButton variant={"secondary"} size={"small"} data={artist} />;
            }
          })
        }
      </div>
      <div class="line">
        {
          data.map((artist, i) => {
            if (i > 11) {
              return <ArtistButton variant={"secondary"} size={"medium"} data={artist} />;
            }
          })
        }
      </div>
    </article>

    <h5>Saturday</h5>
    <article class="day">
      <div class="line">
        {
          data.map((artist, i) => {
            if (i < 4) {
              return <ArtistButton variant={"primary"} size={"big"} data={artist} />;
            }
          })
        }
      </div>
      <div class="line">
        {
          data.map((artist, i) => {
            if (i < 5) {
              return <ArtistButton variant={"secondary"} size={"small"} data={artist} />;
            }
          })
        }
      </div>
      <div class="line">
        {
          data.map((artist, i) => {
            if (i > 11) {
              return <ArtistButton variant={"secondary"} size={"medium"} data={artist} />;
            }
          })
        }
      </div>
    </article>
  </section>

  <section class="mobile_lineup">
    <h5>Thursday</h5>
    <article class="mobile_day">
      <div class="mobile_line">
        {
          data.map((artist, i) => {
            if (i < 2) {
              return <ArtistButton variant={"primary"} size={"big"} data={artist} />;
            }
          })
        }
      </div>
      <div class="mobile_line">
        {
          data.map((artist, i) => {
            if (i < 2) {
              return <ArtistButton variant={"secondary"} size={"big"} data={artist} />;
            }
          })
        }
      </div>
      <div class="mobile_line">
        {
          data.map((artist, i) => {
            if (i > 12) {
              return <ArtistButton variant={"secondary"} size={"big"} data={artist} />;
            }
          })
        }
      </div>
    </article>

    <h5>Friday</h5>
    <article class="mobile_day">
      <div class="mobile_line">
        {
          data.map((artist, i) => {
            if (i < 2) {
              return <ArtistButton variant={"primary"} size={"big"} data={artist} />;
            }
          })
        }
      </div>
      <div class="mobile_line">
        {
          data.map((artist, i) => {
            if (i < 2) {
              return <ArtistButton variant={"secondary"} size={"big"} data={artist} />;
            }
          })
        }
      </div>
      <div class="mobile_line">
        {
          data.map((artist, i) => {
            if (i > 12) {
              return <ArtistButton variant={"secondary"} size={"big"} data={artist} />;
            }
          })
        }
      </div>
    </article>

    <h5>Saturday</h5>
    <article class="mobile_day">
      <div class="mobile_line">
        {
          data.map((artist, i) => {
            if (i < 2) {
              return <ArtistButton variant={"primary"} size={"big"} data={artist} />;
            }
          })
        }
      </div>
      <div class="mobile_line">
        {
          data.map((artist, i) => {
            if (i < 2) {
              return <ArtistButton variant={"secondary"} size={"big"} data={artist} />;
            }
          })
        }
      </div>
      <div class="mobile_line">
        {
          data.map((artist, i) => {
            if (i > 12) {
              return <ArtistButton variant={"secondary"} size={"big"} data={artist} />;
            }
          })
        }
      </div>
    </article>
  </section>
</MainLayout>

<style>
  h2 {
    text-align: center;
    margin: auto;
  }
  /* Styling af øverste del */
  .del_1 {
    display: flex;

    flex-direction: row;
    justify-content: space-between;
  }

  /* Styling af line-up */
  h5 {
    text-align: center;
  }
  .day {
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    margin-bottom: 10%;
  }

  .line {
    display: flex;
    flex-direction: row;
    gap: 5%;
    /* justify-self: center; */
    margin-bottom: 2%;
  }

  @media (min-width: 800px) {
    .mobile_day,
    .mobile_line,
    .mobile_lineup {
      display: none;
    }
  }

  @media (max-width: 800px) {
    .day,
    .line,
    .lineup {
      display: none;
    }

    .mobile_line {
      display: flex;
      flex-direction: row;
      gap: 5%;
      /* justify-self: center; */
      margin-bottom: 2%;
    }

    .mobile_day {
      display: flex;
      flex-direction: column;
      align-items: center;
      white-space: nowrap;
      margin-bottom: 10%;
    }
  }
</style>
